<div class="flex flex-column gap-2 mb-2">
  @if (activities().length > 0) {
    <app-timeline [activities]="activities()" (activitySelected)="focusActivity($event)"/>
    <div #stickyMap class="sticky-map">
      @if (!activeMapComponent()) {
        <app-panel [toggleable]="true" [collapsed]="collapsed()">
          <div panelHeader class="flex align-items-center gap-2">
            <i class="pi pi-calendar"></i>
            <span>Carte</span>
          </div>
          <app-skeleton height="250px" width="100%" borderRadius="3px" />
        </app-panel>
      }
    </div>
  }
  <app-panel [toggleable]="true"  [(collapsed)]="activitiesCollapsed"
  (afterToggle)="onActivitiesPanelToggled()">
    <div panelHeader class="flex align-items-center gap-2">
      <i class="pi pi-calendar"></i>
      <span>Activités</span>
    </div>
    <div class="flex flex-column gap-2">
      <div #activityList class="flex flex-column gap-2">
        @for (activity of activities(); track activity.id) {
            <app-activity-card [inDayList]="true" (dragHandleDown)="onDragHandleDown($event)" [scrollOffset]="stickyOffset()" [initCollapsed]="false"
      [activityId]="activity.id" [dayId]="dayId()" [tripId]="tripId()" />
        }
      </div>
      @if (activities().length === 0) {
          <app-message
            severity="info"
            icon="pi pi-info-circle"
            text="Aucune activitée pour l'instant, n'hésitez pas à en créer avec le bouton +."
            class="w-full flex justify-content-center"
          />
        }
      <div class="flex justify-content-center w-full">
        <app-button icon="pi pi-plus" [rounded]="true" severity="secondary" [outlined]="true" (click)="addActivity()" />
      </div>
    </div>
  </app-panel>
</div>