
<div class="info-box">
  <div class="info-box-title">{{ element().title }}</div>
  <div class="info-box-body">
    @if(element().id === 1){
      <div class="todo-list" style="margin-top: 6px;">
        @for (item of todoItems(); track $index) {
          <div class="todo-row">
            <input
              type="checkbox"
              [checked]="item.checked"
              (change)="toggleCheck($index)"
            />
            <textarea
              class="todo-input"
              [class.checked]="item.checked"
              type="textarea"
              rows="1"
              [value]="item.text"
              (input)="onTextChange($index, $any($event.target).value)"
              (keydown.enter)="onEnter($index, $event)"
              (keydown.backspace)="onBackspace($index, $any($event.target).value, $event)"
              [attr.data-index]="$index"
            ></textarea>
          </div>
        }
      </div>
    } @else {
      <ul>
        @for (item of stringItems; track $index) {
          <li [innerHTML]="item | safeHtml"></li>
        }
      </ul>
    }
  </div>
</div>