@if (tasks().length > 0) {
  <app-card class="trip-tasks-tile">
    <div cardTitle>Pense bête</div>
    <div class="flex flex-column gap-1">
      @for (task of tasks(); track task.key) {
        <div
          class="trip-tasks-tile__item"
          role="button"
          tabindex="0"
          [style.--task-color]="task.colorVar"
          (click)="task.onClick()"
          (keydown.enter)="task.onClick()">
          <span class="trip-tasks-tile__label">{{ task.label }}</span>
        </div>
      }
    </div>
  </app-card>
}
