<app-save-status-bar />
<div
  #toolbarRef
  class="app-toolbar"
  [class.app-toolbar--flush]="chromeService.dayPanelActive()"
  [style.--nt-chrome-gap.px]="chromeService.chromeGapPx()"
>
  <app-toolbar>
    <div toolbarStart class="w-3rem flex justify-content-center">
      @if (showBack()) {
        <app-button
          icon="pi pi-arrow-left"
          [text]="true"
          [rounded]="true"
          (click)="goBack()"
        />
      }
    </div>

    <span toolbarCenter class="nesttrip-logo" [attr.title]="toolbarTitle()">{{ toolbarTitle() }}</span>

    <div toolbarEnd class="w-3rem flex justify-content-center">
      <app-menu #menu [items]="menuItems">
        <div menuTop class="app-menu-theme-picker flex flex-column">
          <div class="app-menu-theme-picker__label">Thème</div>
          <app-select-button
            [options]="themeOptions"
            [value]="themeService.mode()"
            (valueChange)="onThemeChange($event)"
          />
        </div>
        <div menuTop class="app-menu-theme-picker flex flex-column">
          <div class="app-menu-theme-picker__label">Devise</div>
          <app-select label="Devise" [options]="currencyOptions" [formControl]="currencyControl" />
        </div>
      </app-menu>
      <app-button
        class="app-settings-btn"
        [class.app-settings-btn--open]="menu.isOpen()"
        (click)="menu.toggle($event)"
        icon="pi pi-cog"
        [rounded]="true"
        [text]="true"
      />
    </div>
  </app-toolbar>
</div>
<div class="app-content" style="min-width: 24rem;" [style.padding-top.px]="chromeService.toolbarHeight()">
  <router-outlet />
</div>