<p-toolbar>
  <ng-template #start>
    @if (showBack()) {
      <p-button
        icon="pi pi-arrow-left"
        [text]="true"
        [rounded]="true"
        (click)="goBack()"
      />
    }
  </ng-template>
  <ng-template #center>
    <span class="nesttrip-logo">NestTrip</span>
  </ng-template>
  <ng-template #end>
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
    <p-button (click)="menu.toggle($event)" icon="pi pi-user" [rounded]="true" [text]="true" />
  </ng-template>
</p-toolbar>
<router-outlet />