:host {
  display: block;
  width: 100%;
}

.app-password {
  position: relative;
  display: flex;
  width: 100%;

  input {
    padding-right: 2.5rem;
  }
}

.app-password__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 100%;
  border: none;
  background: transparent;
  color: var(--nt-form-field-icon-color);
  cursor: pointer;
}
