<div class="flex align-items-center gap-3 cursor-pointer" (click)="openDialog()" role="button" tabindex="0">
  <app-avatar-group>
    @for (entry of visibleMembers(); track entry[0]) {
      <app-avatar
        [label]="getInitials(entry[1].displayName, entry[1].email)"
        shape="circle"
        size="normal"
        [appTooltip]="entry[1].displayName || entry[1].email"
        tooltipEvent="both"
        tooltipPosition="bottom" />
    }
    @if (extraCount() > 0) {
      <app-avatar
        [label]="'+' + extraCount()"
        shape="circle"
        size="normal"
        [appTooltip]="extraTooltip()"
        tooltipPosition="bottom" />
    }
  </app-avatar-group>
</div>

<app-collaborators-dialog
  [(visible)]="showDialog"
  [members]="members()"
  [currentUserId]="currentUserId()"
  [isOwner]="isOwner()"
  [companions]="userProfileService.companions()"
  [addLoading]="addLoading()"
  [addError]="addError()"
  (add)="onAdd($event)"
  (remove)="onRemove($event)"
  (removeCompanion)="onRemoveCompanion($event)" />
