<app-card>
  <div cardHeader class="flex align-items-center justify-content-between px-2 pt-3">
    <textarea
      appTextarea
      class="text-xl font-semibold flex-1 overflow-hidden transparent-textarea"
      [rows]="1"
      [value]="title()"
      (blur)="onTitleBlur($any($event.target).value)"
    ></textarea>
    <ng-content select="[trip-actions]" />
  </div>
  <form [formGroup]="dateForm">
    <div class="flex align-items-center gap-2 flex-wrap">
      <app-date-picker
        inputId="dates"
        class="w-max transparent-inputtext"
        formControlName="dates"
        [range]="true"
        placeholder="Sélectionner une période"
        (selected)="onDatesSelected()"
      />
      <app-select
        [options]="currencyOptions"
        [formControl]="currencyControl"
        class="w-max transparent-select"
      />
    </div>
  </form>
</app-card>