<div class="flex flex-column gap-2">
  <app-card>
    <div cardTitle class="flex justify-content-between align-items-center w-full">
      <span class="text-2xl font-semibold">Nouveau voyage</span>
    </div>

    <p-fluid>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">

        <!-- Ville -->
        <div class="flex flex-column gap-2">
          <label for="ville" class="font-medium">Ville / Pays</label>
            <p-autoComplete
              [suggestions]="placesWithPhotos()" 
              formControlName="ville"
              (completeMethod)="onSearch($event)"
              (onSelect)="onSelect($event)"
              [emptyMessage]="searching() ? 'Chargement...' : 'Aucun résultat trouvé'"
              field="name"
              placeholder="Ex : Reykjavik"
              class="w-full"
              appendTo="body"
              [inputStyleClass]="'w-full'">
              
              <ng-template #item let-place>
                <div class="flex align-items-center gap-3 w-full">
                  <div class="flex flex-column min-w-0">
                    <span class="text-xl font-bold text-900 white-space-normal line-height-2">
                      {{ place.name }}
                    </span>
                  </div>
                </div>
              </ng-template>
            </p-autoComplete>
          @if (form.controls.ville.touched && form.controls.ville.hasError('required')) {
            <small class="text-red-500">La destination est requise.</small>
          }
        </div>

        <!-- Nom -->
        <div class="flex flex-column gap-2">
          <label for="title" class="font-medium">Nom du voyage</label>
          <input
            appInputText
            id="title"
            formControlName="title"
            placeholder="Ex : Road trip Islande"
          />
          @if (form.controls.title.touched && form.controls.title.hasError('required')) {
            <small class="text-red-500">Le nom est requis.</small>
          }
        </div>

        <!-- Date RANGE -->
        <div class="flex flex-column gap-2">
          <label for="dates" class="font-medium">Dates du voyage</label>

          <p-datepicker
            inputId="dates"
            formControlName="dates"
            selectionMode="range"
            dateFormat="dd/mm/y"
            [showIcon]="true"
            [readonlyInput]="true"
            placeholder="Sélectionner une période"
            [touchUI]="viewport.isMobile()"
            [appendTo]="viewport.isMobile() ? 'body' : undefined"
            class="w-max"
          />

          @if (form.controls.dates.touched && form.controls.dates.hasError('required')) {
            <small class="text-red-500">Les dates sont requises.</small>
          }
        </div>

        <!-- Actions -->
        <div class="flex justify-content-end gap-2 pt-2">
          <app-button
            label="Annuler"
            severity="secondary"
            [outlined]="true"
            type="button"
            (click)="onCancel()"
          />
          <app-button
            label="Créer le voyage"
            icon="pi pi-check"
            type="submit"
            [loading]="loading()"
            [disabled]="form.invalid"
          />
        </div>

      </form>
    </p-fluid>

  </app-card>
</div>