<div class="flex flex-column h-full">
  <div class="w-full sub-tab-switch mt-auto pb-2">
    <p-selectbutton 
      [options]="subTabOptions" 
      [ngModel]="activeSubTab()" 
      (ngModelChange)="selectSubTab($event)"
      optionLabel="label" 
      optionValue="value"
      [allowEmpty]="false"
      fluid
    >
      <ng-template #item let-item>
        <i [class]="item.icon + ' mr-2'"></i>
        <span>{{ item.label }}</span>
      </ng-template>
    </p-selectbutton>
  </div>
  <div class="flex-auto overflow-y-auto">
    @if (activeSubTab() === 'infos') {
      <app-infos [info]="info()" [tripId]="tripId()" />
    } @else {
      <app-trip-activities [tripId]="tripId()" />
    }
  </div>

</div>