<div class="activity-header__row flex align-items-center gap-2 w-full min-w-0">
  <span class="cursor-move text-color-secondary flex-shrink-0 drag-handle swiper-no-swiping">
    <i class="pi pi-bars"></i>
  </span>

  <div class="activity-header__thumb flex-shrink-0 border-round overflow-hidden surface-100 flex align-items-center justify-content-center"
      style="width:3rem;height:3rem">
      @if (firstPhotoRef(); as ref) {
        @if (getPhotoUrl$(ref, 120) | async; as url) {
          <img [src]="url" [alt]="activity().title" draggable="false" style="width:100%;height:100%;object-fit:cover" />
        }
      } @else {
        <i [class]="'pi text-xl text-color-secondary ' + activityTypeMeta[activity().type]?.icon"></i>
      }
  </div>
  
  <!-- Ajout de keydown pour stopper la propagation au clavier et valider l'a11y -->
  <div class="activity-header__meta flex flex-column flex-1 min-w-0 gap-1"
     (click)="$event.stopPropagation()"
     (keydown)="$event.stopPropagation()"
     tabindex="-1">
       
    <p-autoComplete
      [suggestions]="places()"
      [formControl]="titleControl"
      (onBlur)="onTitleBlur()"
      (completeMethod)="onSearch($event)"
      (onSelect)="onSelect($event)"
      field="name"
      [dropdown]="false"
      [autoHighlight]="true"
      placeholder="Nom de l'activité"
      class="w-full transparent-inputtext"
      appendTo="body"
      panelStyleClass="autocomplete-panel-fix"
      [emptyMessage]="searching() ? 'Chargement...' : 'Aucun résultat trouvé'"
      [inputStyleClass]="'w-full font-semibold p-0 text-base'">
      <ng-template #item let-place>
          <div class="flex flex-column min-w-0 flex-1">
            <span class="font-medium text-sm white-space-normal line-height-3">{{ displayName(place) }}</span>
            <span class="text-color-secondary text-xs white-space-normal line-height-2">{{ place.address }}</span>
          </div>
      </ng-template>
    </p-autoComplete>

    <div class="flex align-items-center gap-2 flex-wrap">
      @if (dayId()) {
        @if (activity().startTime ) {
        <span class="text-color-secondary text-xs flex align-items-center gap-1">
          <i class="pi pi-clock" style="font-size:0.65rem"></i>
          {{ activity().startTime | date:'HH:mm' }}
        </span>
        }
        @if (activity().price.amount) {
          <span class="text-color-secondary text-xs flex align-items-center gap-1">
            <i class="pi pi-euro" style="font-size:0.65rem"></i>
            {{ activity().price.amount }} {{ activity().price.currency }}
          </span>
        }
      }
      @else{
        @if (isPlacedNowhere()) {
          <p-tag severity="warn" value="À assigner" class="flex-shrink-0" />
        } @else {
          <p-tag
            severity="success"
            [value]="assignedDays() | dayLabelsList:2"
            class="flex-shrink-0"
          />
        }
      }
    </div>
  </div>
</div>