<p-panel [toggleable]="true" [collapsed]="false">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <i class="pi pi-calendar"></i>
      <span>Vue d'ensemble de la journée</span>
    </div>
  </ng-template>

  <div class="flex flex-column gap-2">
    @for (activity of activities(); track activity.id; let last = $last) {
      <div class="grid align-items-center cursor-pointer" 
          role="button" 
          tabindex="0" 
          (click)="activitySelected.emit(activity.id)"
          (keydown.enter)="activitySelected.emit(activity.id)">
        
        <!-- durée -->
        <span class="col-3">
          ~ {{ activity.duration | duration }}
        </span>
        
        <!-- icône -->
        <span class="col-1">
          <i [class]="ACTIVITY_TYPE_META[activity.type]?.icon" class="text-lg text-primary"></i>
        </span>
        
        <!-- titre -->
        <span class="col-8">
          {{ activity.title }}
        </span>
        
      </div>
       @if (!last) {
      <p-divider class="m-0"></p-divider>
       }
    }
  </div>
</p-panel>