.activity  {border-left-width: 0.4rem;}
.repas { border-left-color: var(--p-activity-repas); }
.transport { border-left-color: var(--p-activity-transport); }
.hebergement { border-left-color: var(--p-activity-hebergement); }
.visite { border-left-color: var(--p-activity-visite); }
.activite { border-left-color: var(--p-activity-activite); }
.shopping { border-left-color: var(--p-activity-shopping); }
.detente { border-left-color: var(--p-activity-detente); }
.evenement { border-left-color: var(--p-activity-evenement); }
.nature { border-left-color: var(--p-activity-nature); }
.soins { border-left-color: var(--p-activity-soins); }