<app-panel header="Réservations" class="reservations-list">
  <div class="flex flex-column gap-2">
    @if (reservations().length === 0 && !creationService.draftActive()) {
      <app-message
        severity="info"
        icon="pi pi-info-circle"
        text="Aucune réservation pour l'instant, n'hésitez pas à en créer avec le bouton +."
        class="w-full" />
    } @else {
      <div cdkDropList class="flex flex-column gap-2" [cdkDropListData]="reservations()" (cdkDropListDropped)="onDrop($event)">
        @for (reservation of reservations(); track reservation.id) {
          <app-reservation-card cdkDrag [tripId]="tripId()" [reservationId]="reservation.id" [initCollapsed]="true">
            <span dragHandle cdkDragHandle class="flex-shrink-0 cursor-move swiper-no-swiping drag-handle-hitbox"><i class="pi pi-bars"></i></span>
          </app-reservation-card>
        }
      </div>
    }

    @if (creationService.draftActive()) {
      <app-new-reservation-draft
        (confirmed)="creationService.confirmDraft($event)"
        (cancelled)="creationService.cancelDraft()" />
    }
  </div>
</app-panel>
