<app-panel header="Réservations" class="reservations-list">
  <div class="flex flex-column gap-2">
    @if (reservations().length === 0 && !creationService.draftActive()) {
      <app-message
        severity="info"
        icon="pi pi-info-circle"
        text="Aucune réservation pour l'instant, n'hésitez pas à en créer avec le bouton +."
        class="w-full" />
    } @else {
      <div class="flex flex-column gap-2">
        @for (reservation of reservations(); track reservation.id) {
          <app-reservation-card [tripId]="tripId()" [reservationId]="reservation.id" [initCollapsed]="true" />
        }
      </div>
    }

    @if (creationService.draftActive()) {
      <app-new-reservation-draft
        (confirmed)="creationService.confirmDraft($event)"
        (cancelled)="creationService.cancelDraft()" />
    }
  </div>
</app-panel>
