<div class="flex justify-content-center align-items-center min-h-screen bg-transparent p-3" style="min-width: 24rem;">
  <p-card class="w-full p-2" >
    <form [formGroup]="form" (ngSubmit)="submitEmail()">
    <div class="text-center mb-5">
      <img src="nesttrip.ico" alt="Logo" class="h-4rem w-4rem mb-3 border-circle shadow-1" />
      <h1 class="text-2xl font-bold text-900 m-0 mb-2">
        {{ isRegister() ? 'Créer un compte' : 'Connexion' }}
      </h1>
      <p class="text-color-secondary m-0">
        {{ isRegister() ? "Rejoignez-nous dès aujourd'hui" : 'Bienvenue' }}
      </p>
    </div>

    <div class="flex flex-column gap-4">
      <p-button
        label="Continuer avec Google"
        icon="pi pi-google"
        severity="secondary"
        styleClass="w-full justify-content-center"
        [disabled]="loading()"
        (onClick)="loginGoogle()">
      </p-button>

      <p-divider>
        <span class="text-sm text-color-secondary font-normal">ou</span>
      </p-divider>

      <!-- Prénom + Nom uniquement à l'inscription -->
      @if (isRegister()) {
        <div class="flex flex-column gap-2 flex-1">
          <label for="firstName" class="font-medium text-900">Prénom</label>
          <input
            pInputText
            id="firstName"
            type="text"
            formControlName="firstName"
            name="firstName"
            placeholder="Jean"
            autocomplete="given-name"
            [invalid]="form.controls.firstName.touched && form.controls.firstName.invalid"
            class="w-full" />
        </div>
        <div class="flex flex-column gap-2 flex-1">
          <label for="lastName" class="font-medium text-900">Nom</label>
          <input
            pInputText
            id="lastName"
            type="text"
            formControlName="lastName"
            name="lastName"
            placeholder="Dupont"
            [invalid]="form.controls.lastName.touched && form.controls.lastName.invalid"
            autocomplete="family-name"
            class="w-full" />
        </div>
      }

      <div class="flex flex-column gap-2">
        <label for="email" class="font-medium text-900">Email</label>
        <input
          pInputText
          id="email"
          type="email"
          name="email"
          formControlName="email"
          placeholder="vous@exemple.com"
          autocomplete="email"
          [invalid]="form.controls.email.touched && form.controls.email.invalid"
          class="w-full" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="password" class="font-medium text-900">Mot de passe</label>
        <p-password
          id="password"
          name="password"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          autocomplete="current-password"
          styleClass="w-full"
          inputStyleClass="w-full"
          [invalid]="form.controls.password.touched && form.controls.password.invalid">
        </p-password>
        @if (form.controls.password.touched && form.controls.password.invalid) {
          <small class="text-red-500">
            @if (form.controls.password.errors?.['required']) {
              Mot de passe requis
            }
            @if (form.controls.password.errors?.['pattern']) {
              Doit contenir au moins :
              1 majuscule, 1 minuscule, 1 chiffre et 1 symbole
            }
          </small>
        }


      </div>

      @if (errorMsg()) {
        <p-message severity="error" [text]="errorMsg()" styleClass="w-full justify-content-start"></p-message>
      }

      <p-button
        type="submit"
        [label]="isRegister() ? 'Créer mon compte' : 'Se connecter'"
        styleClass="w-full justify-content-center mt-2"
        [loading]="loading()">
      </p-button>

      <p class="text-center text-color-secondary m-0 mt-2">
        {{ isRegister() ? 'Déjà un compte ?' : 'Pas encore de compte ?' }}
        <p-button
          [label]="isRegister() ? 'Se connecter' : 'S\'inscrire'"
          link="true"
          styleClass="p-0 vertical-align-baseline ml-1 font-semibold"
          (onClick)="toggleMode()">
        </p-button>
      </p>
    </div>
    </form>
  </p-card>
</div>