<p-confirmDialog />
<div class="flex flex-column pt-2">
  @if (facade.activeTrip(); as trip) {
    <div  class="flex flex-column gap-2" [class.invisible-content]="!contentReady()">
      <app-trip-header
        [trip]="trip"
        [title]="tripTitle()"
        (titleChange)="onTitleChange($event)"
        (datesChange)="onDatesChange($event)">
        <app-trip-collaborators
          trip-actions
          [tripId]="trip.id"
          [members]="trip.members" />
      </app-trip-header>

      <app-trip-tabs-nav
        class="fixed bottom-0 left-0 right-0 z-5"
        [tabs]="tabs()"
        [activeId]="activeDay()"
        (tabSelected)="onTabSelected($event)" />

      <app-trip-day-swiper
        [trip]="trip"
        [tabs]="tabs()"
        [activeId]="activeDay()"
        (activeIdChange)="onSwiperActiveIdChange($event)"
        (ready)="onSwiperReady()" />
    </div>
  }

  @if (facade.activeTripLoading() || !contentReady()) {
    <app-trip-detail-skeleton/>
  }
</div>