  <div class="flex flex-column gap-2 pt-2">
    <p-skeleton height="7rem" borderRadius="12px" />
    <p-skeleton height="3rem"  borderRadius="0px"  />
    @for (panel of panels; track $index) {
      <div class="surface-card border-1 surface-border border-round-lg overflow-hidden">

        <!-- Header -->
        <div class="flex align-items-center gap-2 px-3 py-3 border-bottom-1 surface-border">
          <p-skeleton shape="square" size="1rem" />

          <p-skeleton
            [width]="panel.titleWidth"
            height="1.25rem"
            class="flex-1"
          />

          <p-skeleton shape="circle" size="1.5rem" class="ml-auto" />
        </div>

        <!-- Contenu -->
        <div class="p-3">

          @for (_ of [].constructor(panel.rows); track $index) {
            <div class="flex align-items-center gap-3 mb-3">

              <!-- poignée drag -->
              <p-skeleton width="0.5rem" height="1rem" />

              @if (panel.hasCheckbox) {
                <p-skeleton
                  shape="square"
                  size="1rem"
                  class="border-round flex-shrink-0"
                />
              } @else {
                <p-skeleton
                  shape="square"
                  size="2.5rem"
                  class="border-round flex-shrink-0"
                />
              }

              <div class="flex-1 flex flex-column gap-2">
                <p-skeleton
                  [width]="(55 + ($index % 3) * 15) + '%'"
                  height="1rem"
                />

                @if (!panel.hasCheckbox) {
                  <p-skeleton width="4rem" height=".75rem" />
                }
              </div>

              @if (!panel.hasCheckbox) {
                <p-skeleton shape="circle" size="1.25rem" />
              }
            </div>
          }

          <!-- Bouton + à l'intérieur -->
          <div class="flex justify-content-center pt-2">
            <p-skeleton shape="circle" size="2.25rem" />
          </div>

        </div>

      </div>
    }
    <!-- Faux bouton "+" en bas -->
    <div class="flex justify-content-center">
      <p-skeleton shape="circle" size="2.25rem" />
    </div>
  </div>