<p-confirmDialog />
<div class="flex flex-column gap-2 pt-2">
  @if (!facade.activeTripLoading()) {
    @if (facade.activeTrip(); as trip) {
      <app-trip-header
        [trip]="trip"
        [title]="tripTitle()"
        (titleChange)="onTitleChange($event)"
        (datesChange)="onDatesChange($event)">
        <app-trip-collaborators
          trip-actions
          [tripId]="trip.id"
          [members]="trip.members" />
      </app-trip-header>

      <app-trip-tabs-nav
        [tabs]="tabs()"
        [activeId]="activeDay()"
        (tabSelected)="onTabSelected($event)" />

      <app-trip-day-swiper
        [trip]="trip"
        [tabs]="tabs()"
        [activeId]="activeDay()"
        (activeIdChange)="onSwiperActiveIdChange($event)" />
    }
  } @else {
    <p-skeleton height="6rem" />
    <app-infos-skeleton />
  }
</div>