<app-card>
<div cdkDropList class="flex flex-column gap-2" [cdkDropListData]="items()" (cdkDropListDropped)="onDrop($event)">
  @for (item of items(); track item.id) {
    <app-panel [toggleable]="true" cdkDrag>
      <div panelHeader class="flex align-items-center gap-2 w-full overflow-hidden min-w-0">
        <span cdkDragHandle class="flex-shrink-0 cursor-move swiper-no-swiping drag-handle-hitbox"><i class="pi pi-bars"></i></span>
        <textarea
          appTextarea
          class="flex-1 overflow-hidden font-bold min-w-0 transparent-textarea"
          [rows]="1"
          [value]="item.title"
          (blur)="updateTitle(item, $any($event.target).value.trim())"
          [attr.data-title-id]="item.id"
          (keydown.arrowdown)="focusRow(item.id, 0, 0)"
        ></textarea>
        <div class="flex gap-1 flex-shrink-0">
          <app-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            [outlined]="true"
            (click)="confirmDelete(item)"
          />
          <app-button
            [icon]="item.type === NotesType.TODO ? 'pi pi-list' : 'pi pi-check-square'"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            [outlined]="true"
            (click)="toggleType(item)"
          />
        </div>
      </div>
      <div
        cdkDropList
        [cdkDropListData]="item.elements"
        (cdkDropListDropped)="onDropPoint(item, $event)"
        class="flex flex-column"
      >
        @for (point of item.elements; track point.id) {
          @if(item.type !== NotesType.TODO || !point.checked){
          <div class="flex align-items-center gap-2 w-full pl-3 pr-3"
          cdkDrag>
            <span cdkDragHandle class="flex-shrink-0 cursor-move text-sm w-1rem swiper-no-swiping drag-handle-hitbox">
              <i class="pi pi-ellipsis-v"></i>
              <i class="pi pi-ellipsis-v"></i>
            </span>
            @if (item.type === NotesType.TODO) {
              <app-checkbox
                class="flex-shrink-0"
                [checked]="point.checked"
                (checkedChange)="toggleCheck(item, $index)"
              />
            }
            <textarea
              appTextarea
              [rows]="1"
              [value]="point.text"
              class="flex-1 overflow-hidden min-w-0 transparent-textarea"
              [class.line-through]="item.type === NotesType.TODO && point.checked"
              [class.text-color-secondary]="item.type === NotesType.TODO && point.checked"
              (input)="onTextChange(item, $index, $any($event.target).value)"
              (keydown.enter)="onEnterRow(item, $index, $any($event))"
              (keydown.backspace)="onBackspaceRow(item, $index, $any($event))"
              (keydown.delete)="onDeleteRow(item, $index, $any($event))"
              (keydown.arrowup)="onArrowUp(item, $index, $any($event))"
              (keydown.arrowdown)="onArrowDown(item, $index, $any($event))"
              (focus)="activePointId.set(point.id)"
              (blur)="onBlurPoint(point.id)"
              [attr.data-item-id]="item.id"
              [attr.data-index]="$index"
            ></textarea>
            <app-button
              icon="pi pi-times"
              [rounded]="true"
              [text]="true"
              severity="secondary"
              size="small"
              class="swiper-no-swiping"
              [style.display]="activePointId() === point.id ? 'flex' : 'none'"
              (mousedown)="$event.preventDefault();removePoint(item, $index); "
            />
          </div>
          }
        }
        <div class="pl-2">
          <app-button
              label="Élément de liste"
              icon="pi pi-plus"
              [text]="true"
              severity="secondary"
              (click)="addPoint(item)"
            />
        </div>
        @if (item.type === NotesType.TODO && item.elements.some(p => p.checked)) {
          <app-fieldset [toggleable]="true" [collapsed]="true" class="completed-fieldset border-none p-2">
            <span fieldsetHeader class="text-sm text-color-secondary">
              {{ item.elements.filter(p => p.checked).length }} éléments terminés
            </span>
            @for (point of item.elements; track point.id) {
              @if (point.checked) {
                <div class="flex align-items-center gap-2 w-full opacity-70 pl-2 pr-3">
                  <span class="w-1rem"></span>
                  <app-checkbox
                    [checked]="point.checked"
                    (checkedChange)="toggleCheck(item, item.elements.indexOf(point))"
                  />
                  <textarea
                    appTextarea
                    [rows]="1"
                    [value]="point.text"
                    class="flex-1 overflow-hidden min-w-0  transparent-textarea"
                    [class.line-through]="item.type === NotesType.TODO && point.checked"
                    [class.text-color-secondary]="item.type === NotesType.TODO && point.checked"
                    (input)="onTextChange(item, $index, $any($event.target).value)"
                    (keydown.enter)="onEnterRow(item, $index, $any($event))"
                    (keydown.backspace)="onBackspaceRow(item, $index, $any($event))"
                    (keydown.delete)="onDeleteRow(item, $index, $any($event))"
                    (keydown.arrowup)="onArrowUp(item, $index, $any($event))"
                    (keydown.arrowdown)="onArrowDown(item, $index, $any($event))"
                    (focus)="activePointId.set(point.id)"
                    (blur)="onBlurPoint(point.id)"
                    [attr.data-item-id]="item.id"
                    [attr.data-index]="$index"
                  ></textarea>
                  <app-button
                    icon="pi pi-times"
                    [rounded]="true"
                    [text]="true"
                    severity="secondary"
                    size="small"
                    class="swiper-no-swiping"
                    [style.display]="activePointId() === point.id ? 'flex' : 'none'"
                    (mousedown)="$event.preventDefault();removePoint(item, $index);"
                  />
                </div>
              }
            }
          </app-fieldset>
        }
      </div>
    </app-panel>
  }
  @if (items().length === 0) {
    <app-message
      severity="info"
      icon="pi pi-info-circle"
      text="Aucune notes pour l'instant, n'hésitez pas à en créer avec le bouton +."
      class="w-full flex justify-content-center"
    />
  }
  <div class="flex justify-content-center w-full">
    <app-button icon="pi pi-plus" [rounded]="true" severity="secondary" [outlined]="true" (click)="addItem()" />
  </div>
</div>
</app-card>