<div
  class="app-fieldset__header"
  [class.app-fieldset__header--toggleable]="toggleable()"
  [attr.role]="toggleable() ? 'button' : null"
  [attr.tabindex]="toggleable() ? 0 : null"
  (click)="toggle()"
  (keydown.enter)="toggle()">
  <ng-content select="[fieldsetHeader]" />
  @if (toggleable()) {
    <i class="pi" [class.pi-chevron-right]="isCollapsed()" [class.pi-chevron-down]="!isCollapsed()"></i>
  }
</div>
@if (!isCollapsed()) {
  <div class="app-fieldset__content">
    <ng-content />
  </div>
}
