@if (activity(); as activity) {
  <div #cardContainer (mousedown)="onCardPointerDown($event)" (touchstart)="onCardPointerDown($event)">
    <p-panel
        class="panel-overflow-hidden"
        [ngClass]="'trip booking ' + bookingMeta().className"
        [toggleable]="true"
        [(collapsed)]="collapsed">

      <ng-template pTemplate="header">
        <app-activity-header
          [activity]="activity"
          [lazyGoogleData]="lazyGoogleData()"
          (placeSelected)="onPlaceSelected($event)"
          (titleEdited)="onTitleChanged($event)" />
      </ng-template>

      @if (googleDataLoading()) {
        <div class="flex justify-content-center py-3">
          <p-progressSpinner strokeWidth="3" [style]="{ width: '2rem', height: '2rem' }" />
        </div>
      }

      <app-activity-gallery [lazyGoogleData]="lazyGoogleData()" [altText]="activity.title" />

      <app-activity-form [tripId]="tripId()" [dayId]="dayId()" [activity]="activity" />

      <p-divider />
      <app-activity-files [tripId]="tripId()" [dayId]="dayId()" [activity]="activity" />

      <app-activity-google-info
        [activity]="activity"
        [lazyGoogleData]="lazyGoogleData()"
        [loading]="googleDataLoading()"
        [dayId]="dayId()" />
    </p-panel>
  </div>
}