<div class="flex flex-column gap-3">
  @for (item of localItems(); track item.id) {
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <input 
          pInputText 
          type="text" 
          [value]="item.title" 
          (blur)="updateTitle(item, $any($event.target).value.trim())" 
          [attr.data-title-id]="item.id"
          (keydown.arrowdown)="focusRow(item.id, 0, 0)"
        />
      </ng-template>        
        @for (point of item.normalizedElements; track $index) {
          <div class="flex align-items-baseline gap-2 w-full">
            
            @if (item.type === InfoType.TODO) {
             <input 
                type="checkbox" 
                [checked]="point.checked" 
                (change)="toggleCheck(item, $index)"
                class="cursor-pointer h-1rem w-1rem mt-1 border-round border-1 border-300 accent-primary"
              />
            }

            <textarea
              pTextarea
              [autoResize]="true"
              [rows]="1"
              [value]="point.text" 
              class="w-full"
              [class.line-through]="item.type === InfoType.TODO && point.checked"
              [class.text-color-secondary]="item.type === InfoType.TODO && point.checked"
              (input)="onTextChange(item, $index, $any($event.target).value)"
              (keydown.enter)="onEnterRow(item, $index, $any($event))" 
              (keydown.backspace)="onBackspaceRow(item, $index, $any($event))"
              (keydown.delete)="onDeleteRow(item, $index, $any($event))"
              (keydown.arrowup)="onArrowUp(item, $index, $any($event))"
              (keydown.arrowdown)="onArrowDown(item, $index, $any($event))"
              [attr.data-item-id]="item.id"
              [attr.data-index]="$index"
            ></textarea>
          </div>
        }
    </p-panel>
  }
</div>