<div class="flex flex-column gap-2">
  @for (item of info().items; track item.id) {
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <input pInputText  type="text" [value]="item.title"  (blur)="updateTitle(item, $any($event.target).value.trim())" />
      </ng-template>

      @if(item.type === InfoType.TODO) {
          @for (point of todoItems(item.id); track $index) {
            <div class="flex align-items-center gap-2">
              <p-checkbox [binary]="true"  [ngModel]="point.checked" (onChange)="toggleCheck(item, $index)" />
              <input pInputText type="text" [value]="point.text" [class.line-through]="point.checked"
                [class.text-color-secondary]="point.checked" (input)="onTextChange(item, $index, $any($event.target).value)"
                (keydown.enter)="onEnterTodo(item, $index, $event)" (keydown.backspace)="onBackspaceTodo(item, $index, $any($event.target).value, $event)"
                [attr.data-index]="$index"
              />
            </div>
          }
      } @else {
        <div class="flexgap-2" #listRef>
          @for (el of stringItems(item); track $index) {
            <div class="flex align-items-center gap-2">
              <input pInputText type="text" [value]="el" (blur)="updateElement(item, $index, $any($event.target).value)" (keydown.enter)="onEnter(item, $any($event), $index)"
                (keydown.backspace)="onBackspace(item, $any($event), $index)"/>
            </div>
          }
        </div>
      }
    </p-panel>
  }
</div>