.tab-content-wrapper {
  width: 100%;
  display: block;
}

swiper-slide {
  height: auto;
  transition: transform 150ms ease-out;
}

swiper-slide:active:not(
  :has(
    button:active,
    textarea:active,
    input:active,
    select:active,
    a:active
  )
) {
  transform: scale(0.98);
}