<swiper-container #swiperRef init="false" class="tab-content-wrapper">
  <swiper-slide>
    @if (visitedDays().has('info')) {
      <app-infos appSwiperAutoHeightWatch  [info]="trip().info" [tripId]="trip().id" />
    }
  </swiper-slide>
  @for (day of sortedDays(); track day.id) {
    <swiper-slide>
      @if (visitedDays().has(day.id.toISOString())) {
        <app-day-panel 
          appSwiperAutoHeightWatch 
          [dayId]="day.id" 
          [tripId]="trip().id" 
          [mapPortal]="mapPortal"
          [active]="activeId() === day.id.toISOString()"
        />
      }
    </swiper-slide>
  }
</swiper-container>