<!-- Déclencheur : taille fixe ajustée à l'heure et texte aligné à gauche -->
<div class="custom-time-input-trigger flex justify-content-start align-items-center" 
     role="button" 
     tabindex="0" 
     (click)="openDialog()" 
     (keydown.enter)="openDialog()">
  <span class="time-display">{{ displayText }}</span>
</div>

<!-- Boîte de dialogue PrimeNG -->
<p-dialog 
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="custom-time-dialog glass-modal speed-dialog"
  [style]="{ width: '280px', height: '255px' }" 
  appendTo="body">
  
  <div class="wheel-picker-container">
    <div class="selection-overlay" ></div>

    <!-- Colonne des Heures -->
    <div class="wheel-column" #hourCol>
      <div class="wheel-spacer"></div>
      
      @for (h of hours; track h) {
        <div class="wheel-item" 
             role="button" 
             tabindex="0"
             [attr.data-val]="h" 
             [class.selected]="h === tempHour" 
             (click)="onItemClick('hour', h)"
             (keydown.enter)="onItemClick('hour', h)">
          {{ h }}
        </div>
      }
      
      <div class="wheel-spacer"></div>
    </div>

    <div class="wheel-separator">:</div>

    <!-- Colonne des Minutes -->
    <div class="wheel-column" #minCol>
      <div class="wheel-spacer"></div>
      
      @for (m of minutes; track m) {
        <div class="wheel-item" 
             role="button" 
             tabindex="0"
             [attr.data-val]="m" 
             [class.selected]="m === tempMinute" 
             (click)="onItemClick('minute', m)"
             (keydown.enter)="onItemClick('minute', m)">
          {{ m }}
        </div>
      }
      
      <div class="wheel-spacer"></div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2 p-2 pt-0 w-full">
      <p-button label="Annuler" [outlined]="true" severity="secondary" (click)="close()" size="small"/>
      <p-button label="OK" (click)="validate()" size="small"/>
    </div>
  </ng-template>
</p-dialog>