<p-panel [toggleable]="true" [collapsed]="false">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <i class="pi pi-calendar"></i>
      <span>Vue d'ensemble de la journée</span>
    </div>
  </ng-template>

  <div class="flex flex-column gap-2">
    @for (activity of activities(); track activity.id) {
      <div class="flex align-items-center gap-2">
        <span class="w-5rem" >
          ≃ {{ activity.duration | duration }}
        </span>
        <i class="pi pi-circle-on" [ngClass]="activity.type.toLowerCase()"></i>
        <span> {{ activity.title }}</span>
      </div>
    }
  </div>
</p-panel>