@if (trip()) 
{
  <header class="site-header">
    <div class="header-top">
      <h1>{{ trip()!.title }}</h1>
    </div>
  </header>
  <p-tabs scrollable (activeValueChange)="onTabChange()" [value]="tabs()[0]?.id">
    <p-tablist>
      @for (tab of tabs(); track tab.id) {
        <p-tab [value]="tab.id">{{ tab.label }}</p-tab>
      }
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="info" [lazy]="true">
        <app-infos [info]="trip()!.info" [tripId]="trip()!.id" />
      </p-tabpanel>
      @for (day of trip()?.days; track day.id) {
        <p-tabpanel [value]="day.id.toISOString()" [lazy]="true">
          <app-day-panel [day]="day" [tripId]="trip()!.id" />
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
}

<footer>
  <div>Site réalisé par Dauze en personne, sans l'aide de Claude · Mai 2026</div>
  <p-button label="Log out" severity="secondary" (onClick)="logout()" />
</footer>