@if (activity(); as activity) {
  <div #cardContainer
       (mousedown)="onCardPointerDown($event)"
       (touchstart)="onCardPointerDown($event)"
       [class.not-dispatched]="!dayId()"
       [class.card-lifted]="isBeingDragged()"
       [class.card-pending]="isPendingLift()">
    <p-panel
        [ngClass]="'trip booking ' + bookingMeta().className"
        [toggleable]="true"
        [transitionOptions]="panelTransitionOptions()"
        [(collapsed)]="collapsed">

      <ng-template pTemplate="header">
        <div class="flex align-items-center w-full">
          <app-activity-header
            class="flex-1 min-w-0"
            [activity]="activity"
            (placeSelected)="onPlaceSelected($event)"
            (titleEdited)="onTitleChanged($event)" />

          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            class="ml-2 flex-shrink-0"
            (onClick)="confirmDelete(); $event.stopPropagation()"
          />
        </div>
      </ng-template>


      <app-activity-form [tripId]="tripId()" [dayId]="dayId()" [activity]="activity" />

      <p-divider class="m-1"/>
      <app-activity-files [tripId]="tripId()" [dayId]="dayId()" [activity]="activity" />

      <!-- L'appel a été simplifié ici -->
      <app-activity-google-info
        [activity]="activity"
        [dayId]="dayId()"
        [detailsState]="detailsState()" 
        (expandDetails)="loadGoogleDetails($event)"/>
    </p-panel>
  </div>
}