@if (activity(); as activity) {
  <div #cardContainer
       [class.not-dispatched]="isPlacedNowhere()"
       [class.card-lifted]="isBeingDragged()"
       [class.card-pending]="isPendingLift()">
    <app-panel
        [ngClass]="'trip booking ' + bookingMeta().className"
        [toggleable]="true"
        [instant]="panelInstant()"
        [(collapsed)]="collapsed">

      <div panelHeader class="flex align-items-center w-full">
        <app-activity-header
          class="flex-1 min-w-0"
          [activity]="activity"
          [dayId] = "dayId()"
          [assignedDays] = "assignedDays()"
          [isPlacedNowhere]="isPlacedNowhere()"
          (placeSelected)="onPlaceSelected($event)"
          (titleEdited)="onTitleChanged($event)" />
        <app-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          class="ml-2 flex-shrink-0"
          (click)="confirmDelete(); $event.stopPropagation()"
        />
      </div>

      @if (dayId(); as day) {
        <app-activity-form [tripId]="tripId()" [dayId]="day" [activity]="activity" />
        <app-divider class="m-1"/>
      }

      <app-activity-files [tripId]="tripId()" [activity]="activity" />

      <!-- L'appel a été simplifié ici -->
      <app-activity-google-info
        [activity]="activity"
        [dayId]="dayId()"
        [detailsState]="detailsState()"
        (expandDetails)="loadGoogleDetails($event)"/>
    </app-panel>
  </div>
}