<app-dialog-frame header="Sélectionner une heure" (closeRequested)="close()">
    <div class="flex flex-column gap-2">

        <div
            class="flex justify-content-center align-items-center gap-2"
        >
            <button
                type="button"
                class="time-box"
                [class.active]="selectionMode === 'hour'"
                (click)="selectionMode = 'hour'"
            >
                {{ tempHour }}
            </button>

            <span class="time-separator">
                :
            </span>

            <button
                type="button"
                class="time-box"
                [class.active]="selectionMode === 'minute'"
                (click)="selectionMode = 'minute'"
            >
                {{ tempMinute }}
            </button>
        </div>

        <div
            #clockFace
            class="clock-face"
            (pointerdown)="startDrag($event)"
            (pointermove)="onDrag($event)"
            (pointerup)="stopDrag()"
            (pointercancel)="stopDrag()"
            (pointerleave)="stopDrag()"
        >

            @for (
                item of currentValues;
                track item.value
            ) {

                <button
                    type="button"
                    class="clock-number"
                    [class.selected]="selectedValue === item.label"
                    [class.inner]="item.inner"
                    [style.left]="item.x"
                    [style.top]="item.y"
                    (click)="selectValue(item.label)"
                >
                    {{ item.label }}
                </button>

            }

            <div
                class="clock-hand"
                [ngStyle]="handStyle"
            ></div>

            <div
                class="clock-selector"
                [style.left]="selectorPosition.left"
                [style.top]="selectorPosition.top"
            ></div>

            <div class="clock-center"></div>

        </div>

    </div>

    <ng-container dialogFooter>
        <app-button
            label="Annuler"
            [text]="true"
            (click)="close()"
        />

        <app-button
            label="OK"
            [text]="true"
            (click)="validate()"
        />
    </ng-container>
</app-dialog-frame>
