<app-dialog-frame [header]="header" (closeRequested)="close()">
    <div class="flex flex-column gap-2">

        @if (viewMode() === 'clock') {

            <div
                class="flex justify-content-center align-items-center gap-2"
            >
                <button
                    type="button"
                    class="time-box"
                    [class.active]="selectionMode === 'hour'"
                    (click)="selectionMode = 'hour'"
                >
                    {{ tempHour }}
                </button>

                <span class="time-separator">
                    :
                </span>

                <button
                    type="button"
                    class="time-box"
                    [class.active]="selectionMode === 'minute'"
                    (click)="selectionMode = 'minute'"
                >
                    {{ tempMinute }}
                </button>
            </div>

            <div
                #clockFace
                class="clock-face"
                (pointerdown)="startDrag($event)"
                (pointermove)="onDrag($event)"
                (pointerup)="stopDrag(true)"
                (pointercancel)="stopDrag(false)"
                (pointerleave)="stopDrag(false)"
            >

                @for (
                    item of currentValues;
                    track item.value
                ) {

                    <button
                        type="button"
                        class="clock-number"
                        [class.selected]="selectedValue === item.label"
                        [class.inner]="item.inner"
                        [style.left]="item.x"
                        [style.top]="item.y"
                        (click)="selectValue(item.label)"
                    >
                        {{ item.label }}
                    </button>

                }

                <div
                    class="clock-hand"
                    [ngStyle]="handStyle"
                ></div>

                <div
                    class="clock-selector"
                    [style.left]="selectorPosition.left"
                    [style.top]="selectorPosition.top"
                ></div>

                <div class="clock-center"></div>

            </div>

        } @else {

            <div class="keyboard-fields">
                <app-time-fields
                    #timeFields
                    [hour]="tempHour"
                    [minute]="tempMinute"
                    (hourChange)="onKeyboardHourChange($event)"
                    (minuteChange)="onKeyboardMinuteChange($event)"
                />
            </div>

        }

    </div>

    <ng-container dialogFooter>
        <div class="time-picker-footer">
            <div class="time-picker-footer__mode">
                @if (!isDurationMode) {
                    @if (viewMode() === 'clock') {
                        <button
                            type="button"
                            class="mode-toggle"
                            aria-label="Saisir l'heure au clavier"
                            (click)="switchToKeyboard()"
                        >
                            <svg viewBox="0 0 24 24" width="1.25rem" height="1.25rem" fill="currentColor" aria-hidden="true">
                                <path d="M20 5H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-9 3h2v2h-2V8zm0 3h2v2h-2v-2zM8 8h2v2H8V8zm0 3h2v2H8v-2zm-1 2H5v-2h2v2zm0-3H5V8h2v2zm9 7H8v-2h8v2zm0-4h-2v-2h2v2zm0-3h-2V8h2v2zm3 3h-2v-2h2v2zm0-3h-2V8h2v2z" />
                            </svg>
                        </button>
                    } @else {
                        <button
                            type="button"
                            class="mode-toggle"
                            aria-label="Revenir au cadran"
                            (click)="switchToClock()"
                        >
                            <i class="pi pi-clock"></i>
                        </button>
                    }
                }
            </div>

            <div class="time-picker-footer__actions">
                <app-button
                    label="Annuler"
                    [outlined]="true"
                    severity="secondary"
                    (click)="close()"
                />

                <app-button
                    label="OK"
                    (click)="validate()"
                />
            </div>
        </div>
    </ng-container>
</app-dialog-frame>
