
<div class="flex flex-column gap-2">
  <app-timeline [activities]="day().activities" />
  <p-panel [toggleable]="true" [collapsed]="false">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-calendar"></i>
        <span>Activités</span>
      </div>
    </ng-template>
    <div class="flex flex-column gap-2">
      <div cdkDropList class="flex flex-column gap-2" (cdkDropListDropped)="onDrop($event)">
        @for (activity of day().activities; track activity.id) {
            <app-activity-card cdkDrag [activity]="activity" [currentDay]="day()" [tripId]="tripId()" />
        }
      </div>
      <div class="flex justify-content-center w-full">
        <p-button icon="pi pi-plus" [rounded]="true" severity="secondary" [outlined]="true" (onClick)="addActivity()" />
      </div>
    </div>
  </p-panel>
</div>