<app-panel [toggleable]="true" [(collapsed)]="collapsed">
    <div panelHeader class="flex align-items-center gap-2">
      <i class="pi pi-calendar"></i>
      <span>Carte</span>
    </div>

    <div class="flex flex-column gap-2 swiper-no-swiping map-container" >
      <google-map
        height="32dvh"
        width="100%"
        [center]="center()"
        [zoom]="zoom()"
        [options]="mapOptions()"
      >
        @for (point of points(); track point.activityId) {
          <map-advanced-marker
            [position]="{ lat: point.latitude, lng: point.longitude }"
            [title]="point.name"
            [content]="markerContent(point)"
            (mapClick)="onMarkerClick(point)"
          />
        }
  </google-map>
  </div>
</app-panel>